@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: #ffffff;
  --foreground: #231f2a;
  --highlight: #2d8086;
  --highlight-hover: #68c2c9;
  --card: #ffffff;
  --card-foreground: #231f2a;
  --popover: #ffffff;
  --popover-foreground: #231f2a;
  --primary: #3a2d4a;
  --primary-foreground: #fcfcfc;
  --secondary: #fafaff;
  --secondary-foreground: #3a2d4a;
  --muted: #fafaff;
  --muted-foreground: #7e7a8c;
  --accent: #fafaff;
  --accent-foreground: #3a2d4a;
  --destructive: #b94e2d;
  --destructive-foreground: #b94e2d;
  --border: #ebebf7;
  --input: #ebebf7;
  --ring: #dedcf7;
  --chart-1: #e1b85a;
  --chart-2: #5a9fcf;
  --chart-3: #4a5e9e;
  --chart-4: #f6d96b;
  --chart-5: #f3d35c;
  --radius: 0.625rem;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #231f2a;
  --sidebar-primary: #3a2d4a;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #fafaff;
  --sidebar-accent-foreground: #3a2d4a;
  --sidebar-border: #ebebf7;
  --sidebar-ring: #dedcf7;
  --link: #204ad4;
  --link-hover: #7995f1;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --highlight: #2d8086;
  --highlight-hover: #68c2c9;
  --card: #231f2a;
  --card-foreground: #fcfcfc;
  --popover: #231f2a;
  --popover-foreground: #fcfcfc;
  --primary: #fcfcfc;
  --primary-foreground: #3a2d4a;
  --secondary: #2d2a3a;
  --secondary-foreground: #fcfcfc;
  --muted: #2d2a3a;
  --muted-foreground: #b4b0c2;
  --accent: #2d2a3a;
  --accent-foreground: #fcfcfc;
  --destructive: #7a3a2b;
  --destructive-foreground: #a34e2a;
  --border: #2d2a3a;
  --input: #2d2a3a;
  --ring: #6f6a8a;
  --chart-1: #5e7fd6;
  --chart-2: #7ad2b7;
  --chart-3: #f3d35c;
  --chart-4: #7e5fd6;
  --chart-5: #bfae6a;
  --sidebar: #3a2d4a;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #5e7fd6;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #2d2a3a;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: #2d2a3a;
  --sidebar-ring: #6f6a8a;
  --link: #204ad4;
  --link-hover: #7995f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-highlight: var(--highlight);
  --color-highlight-hover: var(--highlight-hover);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-link: var(--link);
  --color-link-foreground: var(--link-hover);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 rounded-lg font-semibold text-foreground bg-highlight hover:bg-highlight/80 transition-colors cursor-pointer;
  }

  .card-border {
    @apply border-4 rounded-lg border-highlight max-h-full my-3 mx-4 md:mx-15 lg:mx-20 xl:mx-30 hover:border-highlight-hover shadow-2xl transition-shadow duration-200 ease-in-out
  }

  .btn-link {
    @apply px-4 py-2 rounded-lg font-semibold text-center text-foreground bg-link hover:bg-link-foreground transition-colors cursor-pointer min-w-5 md:min-w-15 lg:min-w-30 xl:min-w-50;
  }

  .headline {
    @apply text-foreground text-xl md:text-2xl lg:text-3xl xl:text-4xl
  }

  .icon {
    @apply max-h-9 max-w-9
  }
}

